@import "lib/_vars.scss";
@import "lib/_mixins.scss";
@import "lib/_reboot.scss";

@import "lib/_fontface.scss";


:root {
    font-size: 16px;

    h1.bHead3 {
        font-family: 'Clash Display';
        font-weight: 500;
        font-size: 4.7rem;
        line-height: 5.1rem;


    }

    h1.bHead2 {
        font-family: 'Clash Display';
        font-weight: 500;
        font-size: 3.8rem;
        line-height: 4rem;

    }

    h1.bHead {
        font-family: 'Clash Display';
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.3rem;

    }

    h1 {
        font-family: 'Clash Display';
        font-weight: 450;
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    h2 {
        font-family: 'Clash Display';
        font-weight: 450;
        font-size: 1.9rem;
        line-height: 2.5rem;
    }

    h3 {
        font-family: 'Clash Display';
        font-weight: 450;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h4 {
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.6rem;
    }

    h5 {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    h6 {
        font-weight: normal;
        font-size: 0.83rem;
        line-height: 1rem;
    }

    p {
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-bottom: 3rem;

    }

    .subtitle {
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.6rem;
        color: $grey;
    }
}



* {
    // border: 1px solid $corporateColor;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}


.bBottom {
    border-bottom: 1px solid $grey4;
    margin-bottom: 2rem;
}
.bBottom2 {
    border-bottom: 1px solid $grey3;

}
img{
    max-width: 100%;
}

.ul_styled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.none {
    display: none;
}

.layout {

    min-height: 100vh;

}
.medium{
    font-weight: 500;
}
.shadow {
    box-shadow: $shadow;
}

.mBottom {
    margin-bottom: 3rem !important;
}

.mBottom2 {
    margin-bottom: 8rem !important;
}

.maxW {
    max-width: 100%;
}

#textIn1 {
    width: 399px;
}

#textIn2 {
    width: 444px;
    max-height: 964px;

}

.bgD {
    background-color: $black;
}

.center {
    display: flex;
    justify-content: center;
}

.imgTxt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    
    h4{
        max-width: 500px;
    }
    p{
        display: inline-block;
        width: auto;
        
    }
}
.header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0 0 0;
    background-color: #121419;
    margin-bottom: 2rem;

    .header_holder {
        max-width: 1280px;
        width: 100%;

        .header_brand {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                height: 40px;
                width: auto;
            }
        }
    }

    .separador {
        height: 1.5px;
        background: $degradado;
        width: 100%;
        margin-top: 1.3rem;

    }

}

//INDEX MENU
.accionesP{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .footer{
        color: $grey3;
    }
}
.accionesPortada {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $darkBlue;
    border-top: solid 1px $grey;

    .accionB {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 4rem;
        flex-direction: row;
        gap: 2rem;
        color: $grey4;
        border-right: solid 1px $grey;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: $black;
            color: $corporateWhite;
        }
    }
}


//MENU
#headerHolderMB {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    font-size: 14px;
    line-height: normal;
    color: $grey3;
    z-index: 99;
    border-right: solid 1px $grey;


    transition: transform .5s cubic-bezier(.75, .02, .5, 1);
    transition: transform .5s cubic-bezier(.75, .02, .5, 1), -webkit-transform .5s cubic-bezier(.75, .02, .5, 1);
    overflow: hidden;
    background-color: $darkBlue;
    //   padding: 3rem 2rem;
    font-size: .9rem;

    .menu_wrap_scroll {
        overflow-y: scroll;
        max-height: calc(100vh - 86px);
    }

    .menu_wrap_scroll::-webkit-scrollbar {
        display: none;
    }

    .menu_group {
        margin-bottom: 2rem;


        .menu_tagline {
            display: block;
            margin: 0 30px 8px;
            font-size: .85rem;

            user-select: none;
            color: $dGrey;
        }

        .menu {
            @extend .ul_styled;

            .menu_item {
                margin-bottom: .5rem;
                font-weight: normal;


                &.opened {
                    .menu_item_heading {



                        .fa {

                            transform: rotate(-180deg);
                        }
                    }

                    .menu_item_submenu {
                        display: block;
                    }
                }

                &:hover,
                &.active {
                    .menu_item_heading {
                        color: $corporateWhite;
                        font-weight: bold;
                    }
                }


                .menu_item_heading {
                    position: relative;
                    align-items: center;
                    transition: all 300ms;

                    .element {
                        display: block;
                        position: relative;
                        padding: 10px 0 11px;
                        margin-left: 30px;
                        margin-right: 30px;

                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        border-bottom: .5px solid $grey;

                        transition: color .15s linear, border .15s linear;
                        color: inherit;
                    }

                    .fa {
                        color: $grey4;
                        transform: rotate(0deg);
                        display: block;
                        position: absolute;
                        top: 8px;
                        right: 29px;
                        width: 20px;
                        height: 20px;
                        transition: transform .15s cubic-bezier(.75, .02, .5, 1);
                        transition: transform .15s cubic-bezier(.75, .02, .5, 1), -webkit-transform .15s cubic-bezier(.75, .02, .5, 1);

                        &::before {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .menu_item_submenu {
                    display: none;

                    .submenu {

                        padding-left: 1rem;
                        background-color: $black;

                        @extend .ul_styled;

                        .submenu_item {
                            margin-bottom: .5rem;

                            .element {
                                color: inherit;
                                display: block;
                                position: relative;
                                padding: 10px 0 11px;
                                margin-left: 30px;
                                margin-right: 30px;

                                font-weight: 400;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                transition: color .15s linear, border .15s linear;

                                &:hover {
                                    color: $dYellow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {

    section {
        padding: 4rem;
        overflow: hidden;



        p {
            max-width: 1000px;
        }

        &.highlighted {
            background-color: $orange;
            color: $corporateWhite;
        }

        &.light {
            background-color: $grey4;
        }

        &.dark {
            background-color: $black;
            color: $corporateWhite;
            position: relative;

            a {
                color: $corporateWhite;
            }

            h1 {
                margin-bottom: 0;
            }
            .subtitle{
                color: $grey3;
            }

            padding-top: 3rem;
            padding-bottom: 3rem;

        }

        &.headerSection {
            padding: 0;

            max-height: 94vh;
            width: 100%;
            background-color: #121419;
            position: relative;
            overflow: hidden;


            picture.introMedia {
                width: 100%;
                height: 100%;

                &::after {

                    content: ' ';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(0deg, rgba(18, 20, 25, 0.5) 0%, rgba(0, 0, 0, 0) 55.71%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .headerSectionTit {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                padding-left: 4rem;
                width: 100%;


                .bHead3 {
                    color: $corporateWhite;
                    padding-block-end: 12px;

                }

                .headerSub {
                    height: 1px;
                    width: 24rem;
                    background: $corporateWhite;
                    position: absolute;
                    left: 0;
                    bottom: 4.5rem;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 3rem;
                        height: 3px;
                        background-color: $dRed;
                        right: 0;
                        top: -2px;
                    }

                }
            }



        }
    }
}

.downloadable {

    display: flex;
    padding: 3rem;
    justify-content: space-between;
    background-color: $grey4;
    color: $black !important;
    transition: all 300ms ease-in-out;

    
    &:hover{
        background-color: $grey3;
    }

    .titleDownload {
        h3{
            margin-bottom: 0;
        }
    }

    .iconDownload {
        h4{
            text-decoration: underline;
        }
    }
}

.seeMore {
    position: absolute;
    right: 4rem;
    cursor: pointer;
    top: 48%;
}

.footer {
    background-color: $darkBlue;
    color: $corporateWhite;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px $grey;
    z-index: 100;
}

// DISPLAYS

//VALORES

.valor{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    position: relative;
    overflow: hidden;
    

    .ball{
        height: 0;
        width: 0;
        border-radius: 50%;
        transition: all 600ms ease-in-out;
        position: absolute;
        bottom: -50%;
        right: 2rem;
        z-index: 4;
        background-color: $red;

        
    }
    &:hover{
        .ball{
            width: 20px;
            height: 20px;
            transform: scale(35);
        }
        img{
            right: 0;
        }
    }
    img{
        position: absolute;
        right: -30rem;
        bottom: 0;
        height: 8rem;
        width: auto;
        z-index: 9;
        transition: all 1s ease-in-out;
    }

    .iconV{
        margin-right: 1rem;
    }
    .iconV::before{
        display: block;
        font-size: 2.5rem;
    }
}

//type 

#acervo {}

//Spline
.spline {
    width: 100%;
    height: 100vh;
    position: relative;
}


//Color

.colors {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

    #gradient1 {
        width: 100%;
        background: $degradado;
    }

    #gradient2 {
        width: 100%;
        background: $degradadoDark;
    }

    #gradient3 {
        width: 100%;
        background: $degradadoInTv;
    }

    .colorCard {
        box-shadow: $shadow;
        width: 12rem;
        border-radius: 6px;
        height: 18rem;
        background-color: $dRed;


        .colortxt {
            padding: 1rem;
            background-color: $corporateWhite;
            border-bottom: solid 1px $grey4;

            h4 {
                margin-bottom: 0;
            }

            h5 {
                color: $grey2;
            }
        }
    }

}

//Download logos

.vectorWrapp {
    padding: 6rem 2rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    transition: all 300ms ease-in-out;


    .downloadVector {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h4 {
            margin-bottom: 0;
            margin-block-end: 0;
            line-height: 2rem;

        }

        .downloadButton {

            width: 3rem;
            height: 2.8rem;
            margin-right: 2rem;


        }
    }

    &.lightWrapp {

        border-bottom: solid 1px $grey4;

        span {
            color: $grey2;
        }

        .downloadButton {
            background: url('/assets/img/download.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        background: $corporateWhite;

        a {
            color: $grey;
        }

    }

    &.darkWrapp {
        border-bottom: solid 1px $grey;

        span {
            color: $grey3;
        }

        .downloadButton {
            background: url('/assets/img/download_white.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        background: $darkBlue;
        color: $grey4;

        a {
            color: $grey4;
        }
    }

    img {
        height: 100%;
        width: auto;
        max-width: 100%;
    }

    .lightTheme {}

}

.theme {
    background-color: $black;
    display: flex;
    flex-direction: row;

    border-bottom: solid 1px $grey;
    position: relative;

    #temas {
        position: absolute;
        right: 1rem;
        top: 1.15rem;
        color: $grey3;
    }

    .themeButton {
        padding: .5rem;


        svg {
            transition: all 300ms ease-in-out;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        &.active {
            background-color: $grey;
        }

    }
}

// Grid
.hButton {
    padding: 1rem;
    color: $corporateWhite;
    cursor: pointer;

    &:hover {
        background-color: $darkBlue;
    }

    &.active {
        background-color: $grey;

        &:hover {
            background-color: $grey;
        }
    }

    h5 {
        margin-bottom: 0;
    }
}

#gridDemonstration {
    width: 100%;
    height: 40rem;
    box-shadow: $shadow;
    padding-top: 2rem;

    #device {
        border: $grey3 1px solid;
        background-color: $grey4;
        box-shadow: $shadow;
        margin: auto;
        border-radius: 6px;
        padding: 1rem;

        transition: all .8s ease-in-out;

        &.desktop {
            width: 80%;
            height: 30vw;

            #content {
                padding: 0 15% 0 15%;
            }

        }

        &.mobile {
            height: 31rem;
            width: 16rem;
            padding: 1rem 1em 3rem 1rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 1.5rem;
                width: 1.5rem;
                position: absolute;
                bottom: 0.75rem;
                left: calc(50% - 0.75rem);
                border-radius: 50%;
                background-color: $grey2;
            }

            #content {
                grid-gap: 1.5%;
                padding: 0 1.5% 0 1.5%;

            }
        }

        &.tablet {
            height: 31rem;
            width: 20rem;
            max-width: 90%;
            padding: 1rem 1em 1rem 1rem;
            position: relative;

            #content {
                grid-gap: 1.5%;
                padding: 0 3% 0 3%;

            }
        }

        #content {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 1%;
            width: 100%;
            height: 100%;
            background: $dRed;




            .column {
                width: 100%;
                background: $darkBlue;
                grid-column: span 1;
            }
        }
    }
}

.section_image {
    margin: 2rem 0;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}

.section_gallery {

    &._3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &._2 {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        border-radius: 6px;
        width: 100%;
        margin-bottom: 1rem;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

}

.section_vimeo,
.section_figma {
    margin: 2rem 0;

    iframe {
        width: 100% !important;


    }
}

.section_figma {
    iframe {
        height: 44rem;
    }
}

.vimeo {
    margin-bottom: 2rem;
}

.imgHolder {
    display: flex;
    flex-direction: column;
    align-items: left;


}

.imgInfo {
    color: $grey2;
}

@media screen and (max-width: 470px) {

    img.shadow {
        box-shadow: none;
    }

    .accionesPortada {
        .accionB {
            padding: 1rem;
        }
    }

    :root {
        font-size: 12px;

        h1.bHead3 {
            font-family: 'Clash Display';
            font-weight: 500;
            font-size: 3rem;
            line-height: 3.3rem;
        }
    }

    .main section.headerSection {
        background-color: $corporateWhite;

        picture.introMedia img {
            margin-bottom: 2rem;
        }

        picture.introMedia::after {
            display: none;
        }

        .headerSectionTit {
            padding-left: 1rem;
            position: relative;


            .bHead3 {
                color: $black;
            }

            .headerSub {
                bottom: -0.5rem;
                background: $darkBlue;
                width: 24rem;
            }
        }
    }

    .main section {
        padding: 1rem;
        padding-bottom: 2rem;
    }

    .downloadVector {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #acervo {
        width: 70%;
        border-radius: 6px;
    }

    .section_gallery {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

    }

    .main {
        margin-left: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .colors {
        align-items: center;
        justify-content: center;
    }

    #gridDemonstration #device.desktop {
        height: 40vw;
    }

    .layout {
        position: relative;
    }

    #headerHolderMB {
        display: block;
        z-index: 100;
        background-color: $black;
        width: 100vw;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;

        .headerMB {
            background-color: $darkBlue;
            width: 100%;
            height: 69px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: top;
            position: relative;
            max-width: 100%;

            .gradient {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1.5px;
                background: $degradado;
                width: 100%;

            }

            .logo {
                margin: 1.6rem 1rem;
                height: 30px;
                width: auto;

            }

            .hamburguer {

                width: auto;
                margin: 1rem;
            }
        }

    }

    .main {
        margin-top: 70px;

        &.index {
            margin-top: 0;
        }
    }

    .sidebar {
        width: 100%;
        padding-top: 94px;
        font-size: 1.2rem;

        .menu_group .menu_tagline {
            font-size: 1rem;
        }

        .header {
            display: none;
        }

        &.closed {
            display: none;
        }
    }
}
